/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.container{
	width: 1400px;
	margin: 0px auto;
}
.car-thumbnail{
	width: 40%;
	display: inline-block;
	vertical-align: top;
}
.cl_details{
	width: 40%;
	display: inline-block;
}